<div class="container-fluid">
    <div id="contenedor">
        <section class="one rounded rounded-3">
            <p class="text-center" id="textoIni">Bienvenidos a esta nueva discográfica que acaba de ser creada para todos aquellos artistas que acaban de salir al mundo de la música para crecer y darse a conocer <br>
            aquí podrás cumplir ese sueño con todas las facilidades que te daremos a tu disposición, tanto producción de bases, videoclips, estilista para los videoclips. <br>
            <br>BIENVENIDO A RxB3N MuSiK <br>
            <br><img src="../../../assets/IMG/logo.png"><br>
            A continuación, si haces scroll verás los artistas que tienen canciones conocidas y que estan siendo hits mundialmente o lo han sido todo gracias a nosotros: </p>
        </section>
        <br>
        <section class="second rounded rounded-3">
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <iframe class="border border-dark border-3" style="margin-bottom: 1%;" width="auto" height="300"
                            src="https://www.youtube.com/embed/k64AbPARoeI" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                        <div class="card-body border border-light border-3 text-light" id="tituloArt">
                            <h5 class="card-title text-center">Encapsulao - Bon Calso</h5>
                            <p class="card-text text-center">Canción de su nuevo EP llamado "HEADSHOT"</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <iframe class="border border-dark border-3" style="margin-bottom: 1%;" width="auto" height="300"
                            src="https://www.youtube.com/embed/VTnluL8sCIo" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                        <div class="card-body border border-light border-3 text-light" id="tituloArt">
                            <h5 class="card-title text-center">Pretty Bad Bitch - Brray Ft. Young Miko</h5>
                            <p class="card-text text-center">Canción de la emergente cantante Young Miko.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <iframe class="border border-dark border-3" style="margin-bottom: 1%;" width="auto" height="300"
                            src="https://www.youtube.com/embed/5KJWuLZPk9o" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                        <div class="card-body border border-light border-3 text-light" id="tituloArt">
                            <h5 class="card-title text-center">Sikora - Saiko</h5>
                            <p class="card-text text-center">La nueva canción dedicada a Lia Sikora.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <iframe class="border border-dark border-3" style="margin-bottom: 1%;" width="auto" height="300"
                            src="https://www.youtube.com/embed/T9BMilybzX8" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                        <div class="card-body border border-light border-3 text-light" id="tituloArt">
                            <h5 class="card-title text-center">Mmm tkm - Leïti Sene</h5>
                            <p class="card-text text-center">La canción con la cuál comenzó a ser más conocido.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <iframe class="border border-dark border-3" style="margin-bottom: 1%;" width="auto" height="300"
                            src="https://www.youtube.com/embed/igFtut_1drQ" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                        <div class="card-body border border-light border-3 text-light" id="tituloArt">
                            <h5 class="card-title text-center">sAy sOMETHINg - Lil Yachty</h5>
                            <p class="card-text text-center">Canción del mejor álbum que tiene en su carrera.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <iframe class="border border-dark border-3" style="margin-bottom: 1%;" width="auto" height="300"
                            src="https://www.youtube.com/embed/Iu9xmEaHwpU" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                        <div class="card-body border border-light border-3 text-light" id="tituloArt">
                            <h5 class="card-title text-center">Jumbo Shit Poppin - Drake</h5>
                            <p class="card-text text-center">Canción del álbum del año.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <iframe class="border border-dark border-3" style="margin-bottom: 1%;" width="auto" height="300"
                            src="https://www.youtube.com/embed/99lxn6QpsxA" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                        <div class="card-body border border-light border-3 text-light" id="tituloArt">
                            <h5 class="card-title text-center">BIGGEST BIRD - Trippie Redd Ft. Summrs</h5>
                            <p class="card-text text-center">Canción de su esperado álbum Mansion Musik.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        <iframe class="border border-dark border-3" style="margin-bottom: 1%;" width="auto" height="300"
                            src="https://www.youtube.com/embed/L5ByY30tfvM" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                        <div class="card-body border border-light border-3 text-light" id="tituloArt">
                            <h5 class="card-title text-center">Tell Em - Cochise Ft. $NOT</h5>
                            <p class="card-text text-center">Canción que lo llevo a la fama gracias a TikTok.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>