<main id="container">
  <nav class="navbar navbar navbar-expand-lg border border-3 border-danger rounded rounded-3" id="cabecera">
    <main class="container-fluid">
      &nbsp;&nbsp;&nbsp;
      <button class="btn btn-danger" [routerLink]="['inicio']">INICIO</button>&nbsp;&nbsp;&nbsp;
      <button class="btn btn-danger" [routerLink]="['forms']">FORM</button>&nbsp;&nbsp;&nbsp;
      <button class="btn btn-danger" [routerLink]="['info']">INFO</button>&nbsp;&nbsp;&nbsp;
    </main>
  </nav>
</main>